{% extends "root.html" %}

{% block body %}
    <h1>Список секретов:</h1>
    <table border="2">
        <tr style="background-color: lightblue; font-weight: bold;">
            <td>Проект</td>
            <td>Имя</td>
            <td>Значение</td>
            <td>Описание</td>
            <td>Тип</td>
        </tr>
        {% for secret in secrets %}
            <tr>
                <td>{{ secret.project.name }}</td>
                <td>{{ secret.name }}</td>
                <td>{{ secret.value }}</td>
                <td>{{ secret.desc }}</td>
                <td>{{ secret.type.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
